.title-cards{
  margin-top: 80px;
}

.title-cards h2{
  margin-bottom: 10px;
}

.card-list{
  display: flex;
  gap:10px;
  overflow-x:scroll; /*verticall scroll because of overflow */
  transition: 0.5s;
}

.card-list a{
  text-decoration: none;
  color: white;
}

.card-list .card p {
  margin: 0;
  text-decoration: none;
  
}

.card-list::-webkit-scrollbar{
  display: none;
}


.card-list img{
  width: 340px;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .title-cards{
    margin-top: 50px;
  }
  .title-cards h2{
    font-size: 1.3rem;
  }
  .card-list img{
    width: 250px;
    border-radius: 5px;
    cursor: pointer;
  }
  .card-list .card p {
    font-size: 0.8rem;    
  }
}